div{
    /* border:2px solid black; */
    margin: 2px;
    padding: 2px;
}

.flip{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}


.logo{
    background-image: url("https://static-assets-web.flixcart.com/fk-p-linchpin-web/fk-cp-zion/img/flipkart-plus_8d85f4.png");
    height: 50px;
    width: 10vw;
    background-size: 10vw;
    background-repeat: no-repeat;

}

.nav{
    display: flex;
    width: 100vw;
    height: 15vh;
    justify-content: space-around;
    align-items: center;
    background-color: blue;
}
.search{
    width: 22vw;
    height: 5vh;
    background-color: white;
    border-radius: 3%;
}

input{
    width: 22vw;
    height: 5vh;
    background-color: white;
    border:none;
}
.main{
    display: flex;
    width: 100vw;
    height: 50vh;justify-content: space-around;
}

.login{
    background-color: white;
    border-radius: 5%;
    width: 5vw;
    text-align: center;
}

.text{
    color: white;
}

.item{
    display: flex;
    flex-direction: column;
}
